.about {
  padding: 120px 20px;
}

.about-container {
  max-width: 1000px;

  margin: auto;

  padding: 60px;

  border-radius: 35px;

  background: rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.08);
}

.about-container h1 {
  color: white;

  font-size: 4rem;

  font-weight: 700;
}

.about-container p {
  margin-top: 30px;

  color: #cbd5e1;

  line-height: 2;

  font-size: 1.1rem;
}